{% extends "../layouts/base.twig" %}

{% block main %}

	<h1>Dashboard</h1>
	<section>
		{% if user.books|length > 0 %}
            {% for book in user.books %}
                <article>
                    <h2>Titre: {{book.title}}</h2>
                    <p>Auteur: {{book.author}}</p>
                    <div>
                        <a href="/">Modifier</a>
                        <a href="/">Supprimer</a>
                    </div>
                </article>
            {% endfor %}

		{% else %}
				<p>Aucun livre dispo</p>
		{% endif %}
	</section>

{% endblock %}

{# si on a des livre on les affiche #}
{# sinon on affiche pas de livre dispo #}
