{% extends "../layouts/base.twig" %}

{% block main %}

    <h1>Modification de livre</h1>
    <section>
        <form action="/updatebook/{{book.id}}" method="post">
            <div>
                <label for="title">Titre</label>
                <input type="text" id="title" name="title" value="{{book.title}}">
            </div>
             <div>
                <label for="author">Auteur</label>
                <input type="text" id="author" name="author" value="{{book.author}}">
            </div>
            <button>Valdier</button>
        </form>
    </section>

{% endblock %}
